@model lab2b.Models.User;

<table class="table table-bordered">
    <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.FullName</td>
        <td>@Model.Age</td>
    </tr>
</table>
