<table border="1">
    <tr>
        <th colspan="3">Mobile Information</th>
    </tr>
    <tr>
        <th>Mobile Name</th>
        <th>Mobile Price</th>
        <th>Mobile Image</th>
    </tr>
    <tr>
        <td>@ViewBag.Mobile.Name</td>
        <td>@ViewBag.Mobile.Price USD</td>
        <td>
            <img src="@ViewBag.Mobile.Image" 
            width="100" height="150"/>
        </td>
    </tr>
</table>

 