<h1>@ViewBag.Name</h1>
<h2>@ViewData["Address"]</h2>
<img src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1-1024x576.jpg" width="50%" height="50%" />
<img src="/images/greenwich.jpg" width="50%" height="50%" />