<h1>University of Greenwich (Vietnam)</h1>
<h2>No. 2 Pham Van Bach - Cau Giay - Ha Noi</h2>
<img src="https://greenwich.edu.vn/wp-content/uploads/2022/10/Welcome-1-1024x576.jpg" width="50%" height="50%" />
<iframe width="560" height="315" src="https://www.youtube.com/embed/6uT6l5yf8jA?si=OWXEnroSbmFCfFZl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>