<form method="post" action="Index">
    <h1>Add new mobile</h1>
    <label>Mobile Name</label>
    <input type="text" required name="Name" />
    <br />
    <label>Mobile Price</label>
    <input type="number" required name="Price" min="100" />
    <br />
    <label>Mobile Image</label>
    <input type="url" required name="Image" />
    <br />
    <input type="submit" value="Add" />
</form>