<form method="post" action="Index">
    <h1>Add Cat</h1>
    Name: <input type="text" required minlength="5" maxlength="20" name="Name" />
    <br />
    Age: <input type="number" min="0" max="50" required name="Age" />
    <br />
    Breed: <input type="text" required name="Breed" />
    <br />
    ImageUrl: <input type="url" required name="ImageUrl" />
    <br />
    <input type="submit" value="Add" />
</form>