@model IEnumerable<Brand>

<div class="container col-md-10 text-center">
    <table class="table table-bordered">
        <tr>
            <th colspan="2" class="text text-primary h1">Brand List</th>
            <th colspan="1">
                <a class="btn btn-primary" asp-controller="Brand" asp-action="Add">
                    Add new brand
                </a>
            </th>
        </tr>
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
            <th>Menu</th>
        </tr>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.Name</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Brand" asp-action="Edit" asp-route-id="@brand.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Brand" asp-action="Delete" asp-route-id="@brand.Id"
                       onclick="return confirm('Are you sure to delete this brand ?');">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>